<p id="notice"><%= notice %></p>


<div id='syllogisms-list'>
<h2>Syllogisms</h2>

<%= link_to 'Make An Argument', new_syllogism_path, :id => "new_syllogism_button" %>
<br><button id="how-to" onclick="showAbout()">Learn How</button>

<table id='center-table'>
  <thead>
    <tr>
      <th>Recently Created Syllogisms</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @syllogisms.each do |syllogism| %>


      <tr>
        <td><%= link_to syllogism.title, syllogism %></td>
<!-- 
        <td><%= link_to 'Edit', edit_syllogism_path(syllogism) %></td>
        <td><%= link_to 'Destroy', syllogism, method: :delete, data: { confirm: 'Are you sure?' } %></td>
 -->
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div id='about'>
  <h2>How to use this website</h2>
  <p>A syllogism (Greek: συλλογισμός syllogismos, "conclusion, inference") is a kind of logical argument that applies deductive reasoning to arrive at a conclusion based on two or more propositions that are asserted or assumed to be true.</p>
  <p>Here, you can lay out your arguments step-by-step, syllogism-style, or view the arguements of others.</p>
  <p>You'll need to declare at least one thing true unconditionally for your argument to be valid. Then you can work from there to build your network of logical associations.</p>
  <p>The app currently only supports if-then and solo statements. To use a "quality" premise such as "all _ are _," you can use a symbol or variable (e.g. "x is") in place of "all _ are."</p>
</div>

<br>

<script type="text/javascript">
  showAbout = function(){
    $("#about").css({"display":"block"})
  };
</script>