<p id="notice"><%= notice %></p>

<p>
  <h1>  <%= @syllogism.title %> </h1>
</p>

<p id="author">
  by <em> <%= @syllogism.author %> </em>
</p>

<p>
  <h3>If you agree with the following:</h3>
  
  <% syllogisms = JSON.parse(@syllogism.premises) %>
  <% syllogisms.each do |premise| %>
    <% if premise[0]=="4576" %>
    <p> the statement <strong><%=premise[2]%></strong> is <strong><%=premise[3]%></strong> </p>
    <% else %>
    <p> if the statement <strong><%=premise[0]%></strong> were <strong><%=premise[1]%></strong> then the statement <strong><%=premise[2]%></strong> would be <strong><%=premise[3]%></strong> </p>
    <% end %>
  <% end %>

</p>

<p>
  <strong></strong>
  <%= @syllogism.known %>
</p>

<br><p>
  <h3>Then you should agree that:</h3>

  <% conclusion = JSON.parse(@syllogism.conclusion) if @syllogism.conclusion != nil %>
  <p> the statement <strong><%=conclusion[0]%></strong> is <strong><%=conclusion[1]%></strong> </p>

</p>

<!-- 
<%= link_to 'Edit', edit_syllogism_path(@syllogism) %> |

 -->
<br><%= link_to 'Back', syllogisms_path %>