<!DOCTYPE html>
<html>
  <head>
    <title>Socrates Is Mortal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <div id="crop"><%= image_tag("logo.png", :alt => "logo") %></div>
  </header>

  <hr>

  <body <%= yield(:body_attributes) %>>
    <%= yield %>
  </body>
</html>